* {
    padding: 0px;
    margin: 0px;
    font-family: 'Urbanist';
  }
  
  .navbar {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #00ADE6;
    height: 150px;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .navbar h1 {
    flex-direction: row;
    color: white;
  }
  
  .hero {
    height: auto;
    position: relative;
    top: 150px;
    padding-bottom: 250px;
  }
  
  .hero img {
    object-fit: cover;
    height: 85vh;
    width: 100%;
  }
  
  .hero-title {
    position: relative;
    bottom: 175px;
    padding: 25px;
    background-color: rgb(0,173,230,0.95);
    text-align: center;
    width: fit-content;
  }
  
  .hero-title h2 {
    color: white;
    font-size: 50px;
  }
  
  
  main {
    max-width: 100%;
    color: black;
    font-size: 20px;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
    
  .about-left { grid-area: 1 / 1 / 2 / 2; }
  .about-right { grid-area: 1 / 2 / 2 / 4; }
  .showcase-left { grid-area: 2 / 1 / 4 / 2; height: auto; overflow: auto; }
  .showcase-right-item-1 { grid-area: 2 / 2 / 3 / 4; }
  .showcase-right-item-2 { grid-area: 3 / 2 / 4 / 3; }
  .showcase-right-item-3 { grid-area: 3 / 3 / 4 / 4; }
  .contact-left { grid-area: 4 / 1 / 5 / 2; }
  .contact-right { grid-area: 4 / 2 / 5 / 4; }
  
  .main-content div {
    height: 300px;
  }